<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/images/logos/favicon-03.png">
    <title>@ViewData["Title"] - Carrito</title>

    <environment include="Development">
        <link href="~/css/agency.css" rel="stylesheet" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="fixed" />
        @*<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />*@
    </environment>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Squada+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <script type="text/javascript" src="~/jquery/jquery.min.js"></script>
</head>
<body>
    @*<nav class="navbar">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SIPA</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#portfolio">Ofertas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#about">Ingresar</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link js-scroll-trigger" href="#contact">Contactenos</a>
                        </li>
                        <li>
                            <a asp-area="" asp-controller="DetallePedidos" asp-action="Index"><i class="fas fa-shopping-cart fa-stack-1x "></i></a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <label id="lblItemCarro">(0)</label>
                    </span>
                </div>
            </div>
        </nav>*@

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top " id="mainNav" style="background-color:black;">
        <div class="container">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <h2 class="font-weight-bold"><a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">SIPA</a></h2>
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                    aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav text-uppercase ml-auto">
                    <li class="nav-item">
                        <p class="text-white" id="alerts"></p>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#services">Servicios</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#portfolio">Ofertas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="#contact">Contactenos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="Articulos" asp-action="Index"><i class="fas fa-shopping-basket"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" asp-area="" asp-controller="DetallePedidos" asp-action="Index"><i class="fas fa-shopping-cart fa-stack-1x" id="lblItemCarro" style="height:20px; width:20px; margin-left:95%;"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
 


    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <section id="contact">
                <div class="container">
                    <h2 class="text-center text-uppercase text-secondary mb-0">Contactenos</h2>
                    <hr class="star-dark mb-5">
                    <div class="row">
                        <div class="col-sm-12 col-md-6 col-lg-6">
                            <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                            <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                            <form name="sentMessage" id="contactForm" novalidate="novalidate">
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <label>
                                            <h4>Nombre</h4>
                                        </label>
                                        <input class="form-control" id="name" type="text" placeholder="Digite su usuario" required="required"
                                               data-validation-required-message="Digite su usuario.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <label>
                                            <h4>Correo</h4>
                                        </label>
                                        <input class="form-control" id="email" type="email" placeholder="Digite su email" required="required"
                                               data-validation-required-message="Digite su email.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <label>
                                            <h4>Numero</h4>
                                        </label>
                                        <input class="form-control" id="phone" type="tel" placeholder="Digite su telefono." required="required"
                                               data-validation-required-message="Digite su telefono.">
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="form-group floating-label-form-group controls mb-0 pb-2">
                                        <label>
                                            <h4>Mensaje</h4>
                                        </label>
                                        <textarea class="form-control" id="message" rows="5" placeholder="Digite su mensaje" required="required"
                                                  data-validation-required-message="Digite su mensaje"></textarea>
                                        <p class="help-block text-danger"></p>
                                    </div>
                                </div>
                                <br>
                                <div id="success"></div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-xl" id="sendMessageButton">Enviar</button>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-6 center ">
                            <div class="card-footer cFoo text-muted">
                                <nav class="navIt" aria-label="...">
                                    <ul class="pagination pagination-lg">
                                        <li class="">
                                            <a class="page-link bg-warning text-dark shadow" asp-controller="Articulos" asp-action="Index"><i class="fas fa-shopping-basket"></i></a>
                                        </li>
                                        <li class="page-item " aria-current="page">
                                            <a class="page-link shadow" asp-controller="DetallePedidos" asp-action="Index"><i class="fas fa-cart-plus"></i></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Clientes" asp-action="IndexCl"><i class="fas fa-user-tag shadow"></i></a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" asp-controller="Pedidos" asp-action="IndexCl"><i class="fas fa-dolly shadow-lg"></i></a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <div>
                                <img src="~/images/logos/vivelab.png" alt="Alternate Text" />
                                <img src="~/images/logos/gobernacion.png" alt="Alternate Text" />
                            </div>
                        </div>
                    </div>
                </div>
                <a id="admin" asp-area="" asp-controller="Home" asp-action="Admin" class="btn btn-dark text-dark"  role="button" style="#admin:hover:background-color:white;color:black;">Articulo</a>
                <p class="text-white">&copy; 2019 - SIPA</p>
            </section>

            
        </footer>
    </div>
    <!--
    <script src="~/twitter-bootstrap/js/bootstrap.min.js"></script>-->

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
