@model IEnumerable<Pedido>

@{
    ViewData["Title"] = "IndexCl";
}
<br />
<br />
<h2>IndexCl</h2>

<div class="card text-left">
    
    <div class="card-footer cFoo text-muted">
        <nav class="navIt" aria-label="...">
            <ul class="pagination pagination-lg">
                <li class="">
                    <a class="page-link bg-warning text-dark shadow" asp-controller="Articulos" asp-action="Index"><i class="fas fa-shopping-basket"></i></a>
                </li>
                <li class="page-item " aria-current="page">
                    <a class="page-link shadow" asp-controller="DetallePedidos" asp-action="Index"><i class="fas fa-cart-plus"></i></a>
                </li>
                <li class="page-item"><a class="page-link" asp-controller="Clientes" asp-action="IndexCl"><i class="fas fa-user-tag shadow"></i></a></li>
                <li class="page-item">
                    <span class="page-link border-0">
                        <a class="page-link" asp-controller="Pedidos" asp-action="IndexCl"><i class="fas fa-dolly shadow-lg"></i></a>
                    </span>
                </li>
            </ul>
        </nav>
    </div>
</div>
<script>
    
</script>