@{
    ViewData["Title"] = "Home Page";
}

<header class="masthead">
    <div class="container">
        <div class="intro-text mt-5">
            <a class="btn btn-dark btn-lg mt-5 text-warning btn-xl text-uppercase js-scroll-trigger" href="#services">Bienvenidos</a>
        </div>
    </div>
</header>

<!-- Services -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Nuestros servicios</h2>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x "></i>
                </span>
                <h4 class="service-heading"><a asp-area="" asp-controller="Articulos" asp-action="Index">Mercados online</a></h4>
                <p class="text-muted">
                    Haz tu mercado online desde tu casa, rapida y sencillamente. 
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fas fa-tags fa-stack-1x"></i>
                </span>
                <h4 class="service-heading">Descuentos</h4>
                <p class="text-muted">
                    Te traemos descuentos de tus supercados favoritos. 
                </p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x ">
                    <i class="fas fa-circle fa-stack-2x text-warning"></i>
                    <i class="fas fa-store-alt fa-stack-1x"></i>
                </span>
                <h4 class="service-heading"><a asp-area="" asp-controller="Autoservicios" asp-action="IndexCl">Autoservicio</a></h4>
                <p class="text-muted">
                    Conoce el supermercado más cercano a ti y haz tu mercado.
                </p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid -->
<section class="bg-light" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Ofertas</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="images/tienda/oferta1.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Super descuento</h4>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="images/tienda/oferta2.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Aniversario</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="images/tienda/oferta3.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Dos por uno en toda la tienda</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="images/tienda/oferta4.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Descuento en articulos seleccionados</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="images/tienda/oferta5.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Super sabado</h4>

                </div>
            </div>
            <div class="col-md-4 col-sm-6 portfolio-item">
                <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fas fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <img class="img-fluid" src="images/tienda/oferta6.jpg" alt="">
                </a>
                <div class="portfolio-caption">
                    <h4>Descuento en jugueteria</h4>

                </div>
            </div>
        </div>
    </div>
</section>
