@model Carrito.ViewModel.AutoservicioCreateViewModel

@{
    ViewData["Title"] = "Create";
}

<div class="card  text-center">
    <div class="card-header text-warning bg-dark">
        <br />
        <h2>Nuevo Articulo</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Nombre" class="control-label"></label>
                        <input asp-for="Nombre" class="form-control" />
                        <span asp-validation-for="Nombre" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Direccion" class="control-label"></label>
                        <input asp-for="Direccion" class="form-control" />
                        <span asp-validation-for="Direccion" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Telefono" class="control-label"></label>
                        <input asp-for="Telefono" class="form-control" />
                        <span asp-validation-for="Telefono" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input asp-for="Estado" /> @Html.DisplayNameFor(model => model.Estado)
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Imagen" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Imagen" class="form-control input" id="files" type="file" />
                            <label class="input">Seleccionar imagen</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Crear" class="btn btn-dark" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div>
    <a class="btn btn-secondary" asp-action="Index"><i class="fas fa-backspace"></i></a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
    $(document).ready(function () {
            $('.input').on("change", function () {
                var fileName = $(this).val().split("\\").pop();
                $(this).next('.input').html(fileName);
            });
    });</script>
}
