@model IEnumerable<Carrito.Models.Autoservicio>

@{
    ViewData["Title"] = "IndexCl";
}

<h2>IndexCl</h2>
<div class="row">
    @foreach (var item in Model)
    {
        var imagen = "~/images/" + (item.Imagen ?? "pred.jpg");


        <div class="col-sm-12 col-md-5  col-lg-4 ">
            <div class="card-group">
                <div class="card border-dark mb-3 shadow-lg" style="width: 10rem;">
                    <img src="@imagen" asp-append-version="true" style="height:150px; width:200px;" />
                    <div class="card-body">
                        <h3 class="card-title">@Html.DisplayFor(modelItem => item.Nombre)</h3>
                        <p>@Html.DisplayFor(modelItem => item.Direccion)</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
